// Navigation Styles here

.nav-container {
   width: 100%;
   margin: 0 auto;
   border-bottom: 2px dashed @navigation-border;

   .nav-bar {
      max-width: 800px;
      margin: 0 auto;
      padding: 30px 0px;
      display: flex;
      justify-content: space-between;
      

      nav {
         width: 50%;
         display: flex;
         justify-content: space-around;
         align-items: center;

         a {
            font-size: 1.6rem;
            color: @shark;
            text-decoration: none;

            &:hover {
               text-decoration: underline;
            }
         }
      }
   }
}
